<a href="https://colab.research.google.com/github/aamleen/PB-Project/blob/main/Cell_Life_Visualisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline
from google.colab import files
import io

In [2]:
"""
cell_df1=pd.read_csv('dataset1.csv')
cell_df1
cell_df3=pd.read_csv('dataset3.csv')
cell_df3
cell_df2=pd.read_csv('dataset2.csv')
cell_df2
"""

"\ncell_df1=pd.readcsv('dataset1.csv')\ncell_df1\ncell_df3=pd.readcsv('dataset3.csv')\ncell_df3\ncell_df2=pd.readcsv('dataset2.csv')\ncell_df2\n"

In [6]:
uploaded=files.upload()
cell_df1=pd.read_csv(io.BytesIO(uploaded['dataset1.csv']))
cell_df1

Saving dataset1.csv to dataset1 (1).csv

,Group,Species,Body Temperature (oC ),Body Mass (kg),Average Cell Lifespan (d),Source,Real Life Span
0,mammals,Ammotragus lervia,37,45.5000,147.0,Vacha 1983,20.0
1,mammals,Bos Taurus,38.3,404.0000,130.0,"White and Seymour 2003, Vacha 1983",20.0
2,mammals,Canis familiaris,38.9,14.5000,100.0,"White and Seymour 2003, Vacha 1983",16.0
3,mammals,Capra hirkus,39.1,31.8000,115.0,"White and Seymour 2003, Vacha 1983",18.0
4,mammals,Cavia aperea Erx. Var. Procellus,39a,0.7150,80.0,"Clarke et al. 2010, Vacha 1983",8.0
5,mammals,Cervus elaphus canadensis,38.9,275.0000,149.0,"White and Seymour 2003, Vacha 1983",25.0
6,mammals,Cervus nippon nippon,37.1,55.0000,159.0,"Suzuki et al. 2001, Vacha 1983",18.0
7,mammals,Choloepus didactylus L.,34.4b,9.0000,113.5,"Clarke et al. 2010, Vacha 1983",28.0
8,mammals,Citellus tridecemlineatus Mitchill,38.9,0.1930,94.6,"Hock 1960, Vacha 1983",8.0
9,mammals,Dasypus novemcincius,34.9,4.4000,72.0,"Johansen 1961, Vacha 1983",20.0
10,mammals,Didelphis marsupialis virginiana,35,3.7000,74.0,"White and Seymour 2003, Vacha 1983",4.0
11,mammals,Equis caballus,37.6,486.0000,143.0,"White and Seymour 2003, Vacha 1983",30.0
12,mammals,Erinaceus europaeus,33.9,0.6720,91.2,"Webb & Ellison 1998, Vacha 1983",8.0
13,mammals,Felis catus,38.6,3.6000,72.5,"White and Seymour 2003, Vacha 1983",14.0
14,mammals,Glis glis,37.7,0.1200,91.0,"Clarke et al. 2010, Vacha 1983",9.0
15,mammals,Glossophaga soricina,24.5,0.0102,181.8,"White and Seymour 2003, Voight et al. 2003",10.0
16,mammals,Hemitragus jemlahicus jemlahicus,37,35.3000,156.0,Vacha 1983,14.0
17,mammals,Homo sapiens,37,65.0000,110.0,"White and Seymour 2003, Smith et al. 2003,",66.0
18,NaN,NaN,NaN,NaN,NaN,Rodnan et al. 1967; Kurata et al. 1993,NaN
19,mammals,Lama guanicos,38.7c,72.0000,201.0,"Clarke et al. 2010, Vacha 1983",28.0
20,mammals,Leptonycteris curasoae,24.5,0.0236,173.1,"White and Seymour 2003, Voight et al. 2003",10.0
21,mammals,Lutreola vison,37.3,0.7950,92.2,"Youngman 1990, Vacha 1983",30.0
22,mammals,Macaca mullata,37,6.5000,95.8,"White and Seymour 2003, Vacha 1983",30.0
23,mammals,Meriones unguiacalatus,38.2,0.0660,43.0,"White and Seymour 2003, Vacha 1983",3.0
24,mammals,Mus musculus,36.9,0.0257,43.0,"White and Seymour 2003, Vacha 1983",2.0
25,mammals,Odocoileus hemionna,39d,32.0000,95.0,"Clarke et al. 2010, Vacha 1983",22.0
26,mammals,Odocoileus virginianus,39,73.7000,127.0,"Clarke et al. 2010, Vacha 1983",16.0
27,mammals,Oryctolagus corniculus,39,3.2000,57.0,"White and Seymour 2003, Vacha 1983",9.0
28,mammals,Ovis aries,39.1,64.0000,135.0,"White and Seymour 2003, Vacha 1983",20.0
29,mammals,Rattus norvegicus,37.3,0.3020,56.0,"White and Seymour 2003, Vacha 1983",2.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,birds,Columba livia,40,0.4150,35.0,Rodnan et al. 1957,6.0
32,birds,Corvus brachyrhynchos,41.5,0.4160,43.0,"Baldwin & Kendeigh 1932 as in Verbeek 1995,",8.0
33,NaN,NaN,NaN,NaN,NaN,Hobson & Clark 1993,NaN
34,birds,Coturnix coturnix japonica,40.8,0.1126,18.0,"Freeman 1970, Nirmalan & Robinson 1973",6.0
35,birds,Dendroica coronata,40.5,0.0115,15.7,"Yarboroug 1971, Podlesak et al. 2005",7.0
36,birds,Gallus gallus,41.7,3.4000,30.0,"White and Seymour 2003, Rodnan et al. 1957",20.0
37,birds,Passer domesticus,43.5,0.0220,27.8,"McNab 1966, Bauchinger and McWilliams 2009",10.0
38,birds,Pygoscelis adeliae,38.2,4.9000,31.4,"McNab 1966, Beaulieu et al. 2010",15.0
39,birds,Taeniopygia guttata,41,0.0160,19.3,Bauchinger and McWilliams 2009,5.0
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,reptiles,Alligator mississippiensis,31,2.5000,256.3,"Cline & Waldman 1962a, Cline & Waldman 1962b",50.0
42,reptiles,Alligator mississippiensis,16.5,2.5000,1135.2,"Cline & Waldman 1962a, Cline & Waldman 1962b",50.0
43,reptiles,Caretta caretta,26.5,0.2088,40.1,Reich et al. 2008,33.0
44,reptiles,Caretta caretta,26.5,0.0198,76.9,Reich et al. 2008,33.0
45,reptiles,Elapha o. obsoleta,20,0.6250,122.0,"Marvin 1963, Baeyens et al. 1980",34.0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,amphibians,Rana catesbeiana (tadpoles),25,0.0195,98.7,"Forman & Just 1975, Kupferberg 1997",8.0
48,amphibians,Rana pipiens,25,0.0780,172.0,Cline & Waldman 1962b,8.0
49,amphibians,Taricha granulosa,14,0.0070,86.0,Freidman et al. 1969,15.0
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,fishes,Carassius auratus langsdorfii,25,0.2250,73.6,"Fischer et al. 1998, Nakanishi & Ototake 1999",30.0
52,fishes,Crassius auratus,19.5,0.0091,111.8,Houston & Murad 1995,30.0
53,fishes,Oncorhynchus mykiss,12e,1.4000,500.0,Avery et al. 1992,8.0
54,fishes,Pterygoplichthys disjunctivus,25,0.0510,127.8,German and Miles 2010,5.0
55,fishes,Tinca tinca,18,0.1300,150.0,Hevesy et al 1964,10.0

In [13]:
uploaded=files.upload()
cell_df2=pd.read_csv(io.BytesIO(uploaded['dataset2.csv']),encoding='ISO-8859-1')
cell_df2

Saving dataset2.csv to dataset2 (5).csv

(       Group                           Species    Cell Type  \
 0    mammals  Didelphis marsupialis virginiana  erythrocyte
 1        NaN                               NaN          NaN
 2        NaN                               NaN          NaN
 3    mammals               Erinaceus europaeus  erythrocyte
 4        NaN                               NaN          NaN
 ..       ...                               ...          ...
 171      NaN                               NaN          NaN
 172      NaN                               NaN          NaN
 173   fishes     Carassius auratus langsdorfii     monocyte
 174      NaN                               NaN          NaN
 175      NaN                               NaN          NaN

     Body Temperature (oC )  Body Mass (kg)  Average Cell Lifespan (d)  \
 0                       35            3.70                       74.0
 1                      NaN             NaN                        NaN
 2                      NaN             NaN                        NaN
 3                    33.93            0.67                       91.2
 4                      NaN             NaN                        NaN
 ..                     ...             ...                        ...
 171                    NaN             NaN                        NaN
 172                    NaN             NaN                        NaN
 173                     25            0.23                       95.0
 174                    NaN             NaN                        NaN
 175                    NaN             NaN                        NaN

     Cell Volume (um3) Cell Dimensions (um)                  Sources  \
 0                  77                  NaN  White and Seymour 2003,
 1                 NaN                  NaN              Vacha 1983,
 2                 NaN                  NaN  genomesize.com/cellsize
 3                  41                  NaN     Webb & Ellison 1998,
 4                 NaN                  NaN              Vacha 1983,
 ..                ...                  ...                      ...
 171               NaN                  NaN            Rey Vazquez &
 172               NaN                  NaN            Guerrero 2007
 173              904k               D: 12l     Fischer et al. 1998,
 174               NaN                  NaN            Rey Vazquez &
 175               NaN                  NaN            Guerrero 2007

      Real Life Span
 0               4.0
 1               NaN
 2               NaN
 3               8.0
 4               NaN
 ..              ...
 171             NaN
 172             NaN
 173            30.0
 174             NaN
 175             NaN

 [176 rows x 10 columns],)

In [14]:
uploaded=files.upload()
cell_df3=pd.read_csv(io.BytesIO(uploaded['dataset3.csv']),encoding="ISO-8859-1")
cell_df3

Saving dataset3.csv to dataset3 (1).csv

,Group,Species,Cell Type,BodyMass (kg),Replicative Lifespan (d),Sources,Real Life Span
0,mammals,Bos Taurus,young adult fibroblast,725.000000,74.00,Lorenzini et al. 2005,20.0
1,mammals,Bos Taurus,adult parathyroid cell,725.000000,140.00,"Brandi et al. 1986, Lorenzini et al. 2005",20.0
2,mammals,Canis familiaris,young adult fibroblast,10.800000,30.00,Lorenzini et al. 2005,16.0
3,mammals,Eptesicus fuscus,young adult fibroblast,0.022000,14.00,Lorenzini et al. 2005,19.0
4,mammals,Felis catus,young adult fibroblast,4.000000,24.00,Lorenzini et al. 2005,14.0
5,mammals,Gorilla gorilla,young adult fibroblast,155.000000,81.00,Lorenzini et al. 2005,40.0
6,mammals,Heterocephalus glaber,young adult fibroblast,0.042000,16.00,Lorenzini et al. 2005,30.0
7,mammals,Homo sapiens,adult osteoblast,65.000000,31.00,Kassem et al. 1997,66.0
8,mammals,Homo sapiens,young adult fibroblast,70.000000,40.00,Lorenzini et al. 2005,66.0
9,mammals,Mesocricetus auratus,adult dermis,0.100000,12.45,Bruce et. al 1986,2.0
10,mammals,Mus musculus,young adult fibroblast,0.022500,8.00,Lorenzini et al. 2005,2.0
11,mammals,Peromyscus maniculatus,young adult fibroblast,0.026500,11.00,Lorenzini et al. 2005,8.0
12,mammals,Rattus norvegicus,young adult fibroblast,0.330000,19.00,Lorenzini et al. 2005,2.0
13,mammals,Sciurus carolinensis,young adult fibroblast,0.520000,10.00,Lorenzini et al. 2005,13.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,birds,Gallus gallus,embryo fibroblast,3.400000,32.50,"Lima 1972, Rodnan et al. 1957",20.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,reptiles,Testudo elephantopus,adult T1 cell,7.900000,114.00,Goldstein 1974,100.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,amphibians,Rana nigromaculata,froglet melanophore,0.025000,12.80,"Okumoto 2001, Konsue et al. 2001",8.0
20,amphibians,Rana catesbeiana,melanophores,0.147260,69.00,"Kondo and Ide 1983, Wang et al. 2007",8.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,fishes,Cynoscion nebulosus,adult muscle,0.423799,125.00,"Middlebrooks et al. 1979,",10.0
23,NaN,NaN,NaN,NaN,NaN,Johnson & Seaman 1986,NaN
24,fishes,Oryzias latipes,fibroblast,0.000527,6.90,"Komura et l. 1987, Davies et al. 2002",2.0