In [161]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as tts
import xgboost as xgb
from sklearn.metrics import mean_squared_error as mse

In [33]:
df1 = pd.read_csv("arranged_dataset_1.txt",encoding = 'unicode_escape')

In [25]:
df2 = pd.read_csv("arranged_dataset_2.txt",encoding = 'unicode_escape')

In [26]:
df3 = pd.read_csv("arranged_dataset_3.txt",encoding = 'unicode_escape')

In [61]:
df1.dropna(axis=0,how='all',inplace = True)
df2.dropna(axis=0,how='all',inplace = True)
df3.dropna(axis=0,how='all',inplace = True)

In [65]:
df1.dropna(axis=1,how='all',inplace = True)
df2.dropna(axis=1,how='all',inplace = True)
df3.dropna(axis=1,how='all',inplace = True)

In [58]:
df1.columns = df1.iloc[0]
df2.columns = df2.iloc[0]
df3.columns = df3.iloc[0]
df1.drop(index=df1.index[0],axis=0,inplace=True)
df2.drop(index=df2.index[0],axis=0,inplace=True)
df3.drop(index=df3.index[0],axis=0,inplace=True)

In [59]:
df1.drop(df1.columns[5],axis=1,inplace=True)
df2.drop(df2.columns[8],axis=1,inplace=True)
df3.drop(df3.columns[5],axis=1,inplace=True)

In [ ]:
df1.dropna(axis=0,how='all',inplace = True)
df2.dropna(axis=0,how='all',inplace = True)
df3.dropna(axis=0,how='all',inplace = True)

In [ ]:
df1.dropna(axis=1,how='any',inplace = True)
df2.dropna(axis=1,how='any',inplace = True)
df3.dropna(axis=1,how='any',inplace = True)

In [109]:
X1, y1 = df1.iloc[:,:-1],df1.iloc[:,-1]
X2, y2 = df2.iloc[:,:-1],df2.iloc[:,-1]
X3, y3 = df3.iloc[:,:-1],df3.iloc[:,-1]

In [110]:
X1.drop(X1.columns[1],axis=1,inplace=True)
X2.drop(X2.columns[1],axis=1,inplace=True)
X3.drop(X3.columns[1],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [199]:
X1 = pd.get_dummies(X1, columns = ['Group'])

# X2.columns

KeyError: ignored

In [200]:
X2 = pd.get_dummies(X2, columns = ["Group", 'Cell Type'])

In [213]:
X3 = pd.get_dummies(X3, columns = ["Group", 'Cell Type'])

In [131]:
X1['Body Temperature (oC )'][5] = 39
X1['Body Temperature (oC )'][8] = 34.4
X1['Body Temperature (oC )'][20] = 38.7
X1['Body Temperature (oC )'][26] = 39
X1['Body Temperature (oC )'][54] = 12

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
X2['Body Temperature (oC )'][22] = 34.4
X2['Body Temperature (oC )'][45] = 38.7
X2['Body Temperature (oC )'][48] = 39
X2['Body Temperature (oC )'][63] = 37
X2['Body Temperature (oC )'][36] = 39
X2['Body Temperature (oC )'][91] = 41
X2['Body Temperature (oC )'][101] = 12

In [212]:
X3

0        Group               Cell Type BodyMass (kg) Replicative Lifespan (d)
1      mammals  young adult fibroblast           725                       74
2      mammals  adult parathyroid cell           725                      140
3      mammals  young adult fibroblast          10.8                       30
4      mammals  young adult fibroblast         0.022                       14
5      mammals  young adult fibroblast             4                       24
6      mammals  young adult fibroblast           155                       81
7      mammals  young adult fibroblast         0.042                       16
8      mammals        adult osteoblast            65                       31
9      mammals  young adult fibroblast            70                       40
10     mammals            adult dermis           0.1                    12.45
11     mammals  young adult fibroblast        0.0225                        8
12     mammals  young adult fibroblast        0.0265                       11
13     mammals  young adult fibroblast          0.33                       19
14     mammals  young adult fibroblast          0.52                       10
16       birds       embryo fibroblast           3.4                     32.5
18    reptiles           adult T1 cell           7.9                      114
20  amphibians     froglet melanophore         0.025                     12.8
21  amphibians            melanophores       0.14726                       69
23      fishes            adult muscle    0.42379927                      125
25      fishes              fibroblast      0.000527                      6.9

In [140]:
X1 = X1.astype({"Body Temperature (oC )": float, "Body Mass (kg)":float, "Average Cell Lifespan (d)":float, "Group_amphibians" : int, "Group_birds" : int,	"Group_fishes" : int,	"Group_mammals" : int,	"Group_reptiles" : int})

In [206]:
X2 = X2.astype({"Body Temperature (oC )": float, "Body Mass (kg)":float, "Average Cell Lifespan (d)":float})

In [216]:
X3.dtypes

BodyMass (kg)                       object
Replicative Lifespan (d)            object
Group_amphibians                     uint8
Group_birds                          uint8
Group_fishes                         uint8
Group_mammals                        uint8
Group_reptiles                       uint8
Cell Type_adult T1 cell              uint8
Cell Type_adult dermis               uint8
Cell Type_adult muscle               uint8
Cell Type_adult osteoblast           uint8
Cell Type_adult parathyroid cell     uint8
Cell Type_embryo fibroblast          uint8
Cell Type_fibroblast                 uint8
Cell Type_froglet melanophore        uint8
Cell Type_melanophores               uint8
Cell Type_young adult fibroblast     uint8
dtype: object

In [217]:
X3 = X3.astype({"BodyMass (kg)":float, "Replicative Lifespan (d)":float})

In [205]:
y1 = y1.astype(float)
y2 = y2.astype(float)
y3 = y3.astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [218]:
x1_train,x1_test,y1_train,y1_test = tts(X1,y1,test_size=0.3)
x2_train,x2_test,y2_train,y2_test = tts(X2,y2,test_size=0.3)
x3_train,x3_test,y3_train,y3_test = tts(X3,y3,test_size=0.3)

In [210]:
xg_reg_1 = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.5,
                max_depth = 10, alpha = 10, n_estimators = 500)

h1 = xg_reg_1.fit(x1_train,y1_train)

preds_1 = xg_reg_1.predict(x1_test)

rmse_1 = np.sqrt(mse(y1_test, preds_1))
print("\n\nRMSE for Table 1: %f" % (rmse_1))

[19:28:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.


RMSE for Table 1: 16.493781

In [211]:
xg_reg_2 = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.5,
                max_depth = 2, alpha = 10, n_estimators = 500)

h2 = xg_reg_2.fit(x2_train,y2_train)

preds_2 = xg_reg_2.predict(x2_test)

rmse_2 = np.sqrt(mse(y2_test, preds_2))
print("\n\nRMSE for Table 2: %f" % (rmse_2))

[19:29:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.


RMSE for Table 2: 15.909578

In [220]:
xg_reg_3 = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.5,
                max_depth = 5, alpha = 10, n_estimators = 10)

h3 = xg_reg_3.fit(x3_train,y3_train)

preds_3 = xg_reg_3.predict(x3_test)

rmse_3 = np.sqrt(mse(y3_test, preds_3))
print("\n\nRMSE for Table 3: %f" % (rmse_3))

[19:35:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.


RMSE for Table 3: 34.946244

RMSE: 13.822851